*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/.idea/misc.xml
/.idea/copyright/
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/encodings.xml
.idea/modules.xml
