<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.groupawesome.quotetracker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/moroni_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- We won't want to force the orientation in the release version, but for v0.1 it will help. -->
        <!-- I added this for now because when rotating on the edit screen the activity is reset and the edit is lost. -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".QuoteDisplayActivity"
                android:label="@string/title_quote_display"
                android:parentActivityName=".MainActivity"
                android:screenOrientation="portrait">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".MainActivity"/>
        </activity>
    </application>

</manifest>
